.parent{
    // background-color: gold;

}

.movie-head{
    margin:20px;
}

.movie-img{
    margin-top: 20px;
}

.img-div{
    margin-top: -20px;
}

.details-div{
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.details-span{
    font-size:15px;
    font-family: fantasy;
}