<body class="hm-gradient">
      <div class="text-center darken-grey-text mb-4">
        <nav class="mb-4 navbar navbar-expand-lg navbar-dark unique-color-dark">
          <a class="navbar-brand" href="#"><img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30"
              alt="" routerLink="/">
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" routerLink="movies"><i class="fa fa-heart"></i> Movies <span
                    class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="series"><i class="fa fa-heart"></i> Series <span
                    class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="faq"><i class="fa fa-heart"></i> FAQ <span
                    class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="about"><i class="fa fa-heart"></i> About <span
                  class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><i class="fa fa-newspaper-o"></i> Action </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                  <a class="dropdown-item" href="#">Login</a>
                  <a class="dropdown-item" routerLink="signup">Signup</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
</body>

<!-- <div class="parent">
  <img width="100" height="150" src="../assets/image/oscar-wallpapers.jpg">
  <div class="nav-item dflex" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link comp" routerLink="/">Home</a>
    <a routerLinkActive="active" routerLink="movies" class="comp menu"><span>Movies</span></a>
    <a routerLinkActive="active" routerLink="series" class="comp menu"><span>Series</span></a>
    <a routerLinkActive="active" routerLink="faq" class="comp menu"><span>FAQ</span></a>
    <a routerLinkActive="active" routerLink="about" class="comp menu"><span>About</span></a>
  </div>
  <div class="bflex">
    <div><button style="background-color:black;"><span class="button">Login</span></button></div>
    <div><button style="background-color:black;" class="mbutton"><a routerLinkActive="active" routerLink="signup"><span
            class="button">Signup</span></a></button></div>
  </div>
</div> -->

<router-outlet></router-outlet>